<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Politics</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css" />
	<script src="/public/js/jquery-2.1.1.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/ekko-lightbox.js"></script>

	
  </head>
<body>

<div class="main clearfix">
 <div class="main_1 clearfix">
   <section id="top">
 <div class="container">
  <div class="row">
    <div class="col-sm-12">
	  <div class="top clearfix">
    <div class="col-sm-4">
	 <div class="top_left">
	  <h4><a href="/views/home.hbs"><i class="fa fa-graduation-cap"></i>Politics <span>Praesent Elementum Ipsum</span></a></h4>
	 </div>
	</div>
	<div class="col-sm-8">
	 <div class="top_right clearfix">
	  <ul class="nav navbar-nav nav_1">
	    <li><a class="hvr-wobble-vertical" href="#">Create A Account</a></li>
		<li><a class="hvr-wobble-vertical" href="#"><i class="fa fa-shopping-basket"></i> Store</a></li>
		<li><a class="price_1 hvr-wobble-vertical" href="#">Charity</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right nav_2">
		<li><a class="account_1 hvr-wobble-vertical" href="#"><i class="fa fa-sign-in"></i> Sign in</a></li>
		<li><a class="hvr-wobble-vertical" href="#"><i class="fa fa-user"></i> Sign Up</a></li>
	  </ul>
	 </div>
	</div>
   </div>
	</div>
  </div>
 </div>
</section>

   <section id="header">
	 <div class="container">
	  <div class="row">
	   <div class="col-sm-12">
		 <nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				   
				</div>
	
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						
						
						<li>
							<a class="tag_menu active_tab" href="index.html">HOME</a></li>
						<li>
							<a class="tag_menu" href="priorities.html">NEWS </a></li>
						
						<li>
							<a class="tag_menu" href="priorities_detail.html">NEWS DETAIL </a></li>
												
							
						<li>
							<a class="tag_menu" href="myaccount.html">MY ACCOUNT</a></li>
						
						
						<li class="dropdown">
						  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_1" role="menu">
							<li><a href="/views/home.hbs">Home</a></li>
							<li><a href="/views/articles/priorities.html">News</a></li>
							<li><a href="/views/articles/priorities_detail.html">News Detail</a></li>
							<li><a href="/views/admin/myaccount.html">My  Account</a></li>
						  </ul>
						</li>
									
						
					</ul>
					<ul class="nav navbar-nav navbar-right nav_3">
					 <li class="dropdown"><a class="tag_menu  border_none_1" href="#" data-toggle="dropdown"><span class="fa fa-search"></span> Search</a>
								<ul class="dropdown-menu drop_2" style="min-width: 300px;">
									<li>
										<div class="row_1">
											<div class="col-sm-12">
												<form class="navbar-form navbar-left" role="search">
												<div class="input-group">
													<input type="text" class="form-control" placeholder="Search">
													<span class="input-group-btn">
														<button class="btn btn-primary" type="button">
															Search</button>
													</span>
												</div>
												</form>
											</div>
										</div>
									</li>
								</ul>
							</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	   </div>
	  </div>
	 </div>
   </section>
 </div>
 <div class="main_2 clearfix">
    <section id="center" class="center_priorities clearfix">
	  <div class="center_product_main clearfix">
	    <div class="container">
	   <div class="row">
	     <div class="col-sm-12">
		  <div class="center_product_1 text-center clearfix">
		    <h1>Latest News</h1>
			<ul>
			 <li><a href="#">Home</a></li> <i class="fa fa-chevron-right"></i>
			 <li>Popular Headlines</li>
			</ul>
		  </div>
		 </div>
	   </div>
	  </div>
	  </div>
	</section>
 </div>
</div>

<section id="priorities">
 <div class="container">
  <div class="row">
    <div class="priorities clearfix">
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="img/9.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Polite Command</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Lorem Ipsum Dolor</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/10.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Social Work</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Consectetur Elit</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/11.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Market</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Sed Cursus Ante</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/12.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Events</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Nibh Imperdiet</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	</div>
	<div class="priorities clearfix">
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/13.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html">  Polite Command</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Lorem Ipsum Dolor</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/14.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Social Work</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Consectetur Elit</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/15.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Market</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Sed Cursus Ante</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/16.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Events</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Nibh Imperdiet</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	</div>
	<div class="priorities clearfix">
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/76.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Polite Command</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Lorem Ipsum Dolor</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/77.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Social Work</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Consectetur Elit</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/78.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Market</a></h4>
			<h3><a href="/views/articles/priorities_detail.htmll">Sed Cursus Ante</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="priorities_inner clearfix">
		<div class="photo">
			<a href="/views/articles/priorities_detail.html"><img src="/public/img/79.jpg" class="img-responsive" alt="a"></a>
		</div>
		<div class="item_inner clearfix">
			<h4>In <a href="/views/articles/priorities_detail.html"> Events</a></h4>
			<h3><a href="/views/articles/priorities_detail.html">Nibh Imperdiet</a></h3>
			<p>Conubia nostra, per inceptos himenaeos ligula in libero Sed dignissim lacinia nunc mauris.</p>
			<h5><a href="/views/articles/priorities_detail.html">Read More <i class="fa fa-chevron-right"></i></a></h5>
	   </div>
	  </div>
	 </div>
	</div>
	<div class="paginate text-center clearfix">
	  <ul class="pagination">
              <li class="disabled"><a href="/views/articles/priorities_detail.html">«</a></li>
              <li class="active"><a href="/views/articles/priorities_detail.html">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="/views/articles/priorities_detail.html">2</a></li>
              <li><a href="/views/articles/priorities_detail.html">3</a></li>
              <li><a href="/views/articles/priorities_detail.html">4</a></li>
              <li><a href="/views/articles/priorities_detail.html">5</a></li>
              <li><a href="/views/articles/priorities_detail.htmll">»</a></li>
            </ul>
	</div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="container">
  <div class="row">
   <div class="footer clearfix">
    <div class="col-sm-3">
	 <div class="footer_left clearfix">
	   <h4><a href="/views/home.hbs"><i class="fa fa-graduation-cap"></i>Politics <span>Praesent Elementum Ipsum</span></a></h4>
	   <p>Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos Sed dignissim lacinia nunc.</p>
	   <h3>Contact Us:</h3>
	   <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
	 </div>
	</div>
	<div class="col-sm-9">
	 <div class="footer_right clearfix">
	   <div class="col-sm-3 space_left">
	    <div class="footer_right_inner clearfix">
		 <h3>Our Activities</h3>
		 <h4><i class="fa fa-arrow-right"></i> <a href="#">Lacinia arcu eget nulla</a></h4>
		 <h4><i class="fa fa-arrow-right"></i> <a href="#">Class aptent taciti</a></h4>
		 <h4><i class="fa fa-arrow-right"></i> <a href="#">Nostra per  himenaeos </a></h4>
		 <h4><i class="fa fa-arrow-right"></i> <a href="#">Dignissim lacinia nunc</a></h4>
		</div>
	   </div>
	   <div class="col-sm-3 space_left">
	    <div class="footer_right_inner clearfix">
		 <h3>Contact Links</h3>
		 <h4><i class="fa fa-arrow-right"></i> <a href="#">Torquent per  nostra</a></h4>
		 <h4><i class="fa fa-arrow-right"></i> <a href="#">Sociosqu ad litora</a></h4>
		 <h4><i class="fa fa-arrow-right"></i> <a href="#">Augue semper porta</a></h4>
		 <h4><i class="fa fa-arrow-right"></i> <a href="#">Fusce nec tellus</a></h4>
		</div>
	   </div>
	   <div class="col-sm-6">
	    <div class="footer_right_inner_1 clearfix">
		 <div class="col-sm-4">
		  <div class="footer_right_inner_1_inner clearfix">
		    <article>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/public/img/800/29.jpg" title="Repairing Team" class="zoom" data-title="Politics" data-footer="Repairing Center" data-type="image" data-toggle="lightbox">
                        <img src="/public/img/85/29.jpg" alt="Nature Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                
            </div>
        </article>
		  </div>
		 </div>
		 <div class="col-sm-4">
		  <div class="footer_right_inner_1_inner clearfix">
		    <article>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/public/img/800/30.jpg" title="Repairing Team" class="zoom" data-title="Politics" data-footer="Repairing Center" data-type="image" data-toggle="lightbox">
                        <img src="/public/img/85/30.jpg" alt="Nature Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                
            </div>
        </article>
		  </div>
		 </div>
		 <div class="col-sm-4">
		  <div class="footer_right_inner_1_inner clearfix">
		    <article>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/public/img/800/31.jpg" title="Repairing Team" class="zoom" data-title="Politics" data-footer="Repairing Center" data-type="image" data-toggle="lightbox">
                        <img src="/public/img/85/31.jpg" alt="Nature Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                
            </div>
        </article>
		  </div>
		 </div>
		 
		</div>
		<div class="footer_right_inner_1 clearfix">
		 <div class="col-sm-4">
		  <div class="footer_right_inner_1_inner clearfix">
		    <article>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/public/img/800/32.jpg" title="Repairing Team" class="zoom" data-title="Politics" data-footer="Repairing Center" data-type="image" data-toggle="lightbox">
                        <img src="/public/img/85/32.jpg" alt="Nature Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                
            </div>
        </article>
		  </div>
		 </div>
		 <div class="col-sm-4">
		  <div class="footer_right_inner_1_inner clearfix">
		    <article>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/public/img/800/33.jpg" title="Repairing Team" class="zoom" data-title="Politics" data-footer="Repairing Center" data-type="image" data-toggle="lightbox">
                        <img src="/public/img/85/33.jpg" alt="Nature Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                
            </div>
        </article>
		  </div>
		 </div>
		 <div class="col-sm-4">
		  <div class="footer_right_inner_1_inner clearfix">
		    <article>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/public/img/800/34.jpg" title="Repairing Team" class="zoom" data-title="Politics" data-footer="Repairing Center" data-type="image" data-toggle="lightbox">
                        <img src="/public/img/85/34.jpg" alt="Nature Portfolio">
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                
            </div>
        </article>
		  </div>
		 </div>
		 
		</div>
	   </div>
	 </div>
	 <div class="footer_right_1 clearfix">
	  <div class="col-sm-3 space_left">
	   <div class="footer_right_1_inner clearfix">
	     <h3>INFORM <span>APPLIED</span></h3>
	   </div>
	  </div>
	  <div class="col-sm-5">
	    <div class="footer_right_1_inner_1 clearfix">
	     <input class="form-control" placeholder="Enter Your Email ID" type="text">
	   </div>
	  </div>
	  <div class="col-sm-4">
	   <div class="footer_right_1_inner_2 clearfix">
	    <div class="col-sm-6">
		   <div class="footer_right_1_inner_2_left">
		     		  <h4>Total Votes</h4>
		              <h1>18259</h1>
		   </div>
		</div>
		<div class="col-sm-6">
		   <div class="footer_right_1_inner_2_left">
		     		  <h4>Events</h4>
		              <h1>17k</h1>
		   </div>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="footer_bottom">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="footer_bottom text-center">
	  <p>© 2013 Your Website Name>TemplateOnWeb</a></p>
	</div>
   </div>
  </div>
 </div>
</section>

<div id="toTop" class="btn btn-info" style="display: block; background:none; color:#999; border-color:#999;"><span class="fa fa-chevron-up"></span></div>

<script type="text/javascript">
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	}); 
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});

</script>

<script type="text/javascript">
	$(document).ready(function() {              
    $('i.glyphicon-thumbs-up, i.glyphicon-thumbs-down').click(function(){    
        var $this = $(this),
        c = $this.data('count');    
        if (!c) c = 0;
        c++;
        $this.data('count',c);
        $('#'+this.id+'-bs3').html(c);
    });      
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });                                        
}); 

	</script>


</body>
       
</html>
