body {
    margin-top: 2.5rem; 
  }
  
  .content {
    padding-top: 2.5rem; 
  }
  
  .container-fluid {
    padding-left: 0rem; 
    padding-right: 0rem; 
  }
  
  /* Optional: If you need to adjust the container that wraps the main content */
  .container {
    padding-left: 0rem; 
  }

  table.table tbody tr td:first-child {
    color: #6c757d; /* Blue color for title */
    font-weight: bold;
  }
  
  /* Author styling */
  table.table tbody tr td:nth-child(2) {
    color: #6c757d; /* Gray color for author */
    font-style: italic;
  }
  
  
